@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100 800;
    src: "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap";
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    @apply font-jetbrains text-base-text dark:text-dark-base-text;
  }

  body {
    @apply bg-base-background dark:bg-dark-base-background text-sm;
  }

  h1:before, h2:before, h3:before, h4:before, h5:before, h6:before{
    @apply content-['>>'] text-directory-prefix mr-2;  
  }
  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-lg font-bold md:text-2xl;
  }
  h4 {
    @apply text-sm font-bold md:text-xl;
  }
  h5 {
    @apply text-sm font-bold md:text-lg;
  }

  h6 {
    @apply font-bold;
  }

  img {
    @apply border-2 border-neutral-900 dark:border-neutral-200 m-2;
  }

  blockquote {
    @apply italic p-2 dark:bg-neutral-800 bg-neutral-300;
  }

  blockquote * {
    @apply text-base-highlight dark:text-dark-base-highlight;
  }

  mark {
    @apply bg-base-highlight dark:bg-dark-base-highlight dark:text-base-text text-dark-base-text p-1;
  }

  code {
    @apply font-jetbrains bg-neutral-300 dark:bg-neutral-900 p-1;
  }

table {
  @apply w-max;
}

table * {
  @apply m-3;
}

  th {
    @apply border-b-[2px] border-base-highlight dark:border-dark-base-highlight border-dashed;
  }
  pre {
    @apply p-1;
  }
  pre code {
    @apply bg-opacity-0 p-0;
  }

   kbd {
    @apply dark:bg-neutral-900 bg-neutral-300 p-1;
  }

  .blog a {
    @apply text-base-highlight dark:text-dark-base-highlight;
  }

  @layer components {
    .container {
      @apply mx-auto w-[90%] md:w-[80%] p-4 bg-base-card dark:bg-dark-base-card flex flex-col gap-y-4;
    }
  }
}
