---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
  <div class="container">
  <h1>Data Deletion Request for Pragyan App</h1>
  <p>The application for Pragyan is provided by Delta Force free of cost. It collects usernames, phone numbers to aid your experience. In case, you, the user want the collected data to be removed, you can request the deletion of your account and associated data by emailing <a href="mailto:delta@nitt.edu">delta@nitt.edu</a>. Please include your <mark>username</mark> and <mark>registered email ID</mark> in the request to ensure proper identification and processing.</p>
</div>
</BaseLayout>