---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
  <div class="container">
  <h1>Data Deletion Request</h1>
  <p>Users can request the deletion of their account and associated data by emailing <a href="mailto:delta@nitt.edu">delta@nitt.edu</a>. Please include your <mark>username</mark> and <mark>registered email ID</mark> in the request to ensure proper identification and processing.</p>
</div>
</BaseLayout>