---
import BaseLayout from "../layouts/BaseLayout.astro";
import Antechamber from "../sections/antechamber.astro";
import RecentPublications from "../sections/recent_publications.astro";
---

<BaseLayout>
  <div class="container">
    <Antechamber />
    <RecentPublications />
  </div>
</BaseLayout>
