---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMe from "../sections/about_me.astro";
import AboutTheWebsite from "../sections/about_the_website.astro";
---

<BaseLayout>
  <div class="container">
    <AboutMe />
    <AboutTheWebsite />
  </div></BaseLayout
>
