---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Publications from '../../sections/publications.astro';
---

<BaseLayout>
	<div class="container">
		<Publications />
	</div>
</BaseLayout>
