---
import { LIBRARIAN } from '../consts';
---

<footer class="py-6 text-center text-lg">
	<div class="flex flex-col">
		<a href="/meta" class="pb-3">
			librarian: <span
				class=" bg-base-highlight dark:bg-dark-base-highlight p-1 font-bold text-dark-base-text dark:text-base-text"
			>
				{`[${LIBRARIAN}]`}
			</span>
		</a>
		<a
			class="text-center text-sm italic opacity-30 dark:opacity-20"
			target="_blank"
			href="https://genius.com/15502905"
			title="hidden message">sahlo folina</a
		>
	</div>
</footer>
