---
import { LIBRARIAN } from "../consts";
---

<footer class="py-6 text-center text-lg">
  <div class="pb-3">
    librarian: <span
      class="px-1 bg-base-highlight font-bold text-dark-base-text dark:text-base-text"
    >
      {`[${LIBRARIAN}]`}
    </span>
  </div>
  <a
    class="text-center text-sm opacity-20 italic"
    target="_blank"
    href="https://genius.com/15502905"
    title="hidden message">sahlo folina</a
  >
</footer>
