---
const { text } = Astro.props as {
	text: string;
};

import DirectoryPrefix from './DirectoryPrefix.astro';
---

<div class="flex flex-row justify-start text-xl">
	<DirectoryPrefix />
	<h2 class="text-xl font-bold decoration-gray-700 before:content-none">
		{text}
	</h2>
</div>
