---
import FormattedDate from './FormattedDate.astro';
const { title, date, slug } = Astro.props as {
	title: string;
	date: string;
	slug: string;
};
---

<div class="flex flex-row justify-normal gap-x-2">
	<FormattedDate date={new Date(date)} />
	<p class="text-neutral-400">&gt;&gt;</p>
	<a href={`publications/${slug}`} class="font-semibold text-base-highlight">
		{title}
	</a>
</div>
