---
import { SITE_TITLE } from "../consts";
import PageTitle from "../components/PageTitle.astro";
import { ANTECHAMBER_CONTENT, ANTECHAMBER_CONTENT_QUOTE } from "../content";
import SocialLinks from "../components/SocialLinks.astro";
---

<section id="antechamber" class="flex flex-col">
  <PageTitle text="antechamber" />
  <div class="flex flex-col gap-y-2">
    <p class="italic">{ANTECHAMBER_CONTENT_QUOTE}</p>
    <p>
      {ANTECHAMBER_CONTENT}
    </p>
    <SocialLinks />
  </div>
</section>
