---
import { getCollection } from 'astro:content';
import PageTitle from '../components/PageTitle.astro';
import PublicationCard from '../components/PublicationCard.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section id="recent-publications" class="flex flex-col">
	<PageTitle text="recent-publications" />
	<div class="flex flex-col">
		{
			posts.slice(0, 5).map((entry) => {
				return (
					<>
						<PublicationCard
							title={entry.data.title}
							date={entry.data.pubDate}
							slug={entry.slug}
						/>
					</>
				);
			})
		}
	</div>
</section>
